<div id="outerDiv">
  <p class="animated infinite pulse slow text-center">See our new offers</p>
  <div id="innerDiv">

    <hr>
    <h1 class="text-center">Log in</h1>
    <hr>
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
      <label for="email">Email</label>
      <input class="animated  pulse fast" type="text" id="email" formControlName="email">
      <label for="password">Password</label>
      <input type="password" class="animated pulse fast" id="password" formControlName="password">

      <input type="submit" class="animated swing fast" id="submit" value="Log In" [disabled]="userForm.invalid">
    </form>
  </div>
</div>
