<form class="mat-app-background basic-container" [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
  <div class="example-container">
    <h1 class="text-center text-secondary mt-0">Log in</h1>
    <hr>

    <mat-form-field class="w-75">
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="userForm.controls['email'].hasError('email')">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-75">
      <input class="w-50" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <mat-checkbox primary class="w-75 mt-2">Remember me</mat-checkbox>

    <button mat-raised-button class="w-50 mt-4 text-secondary btn-block" [disabled]="userForm.invalid">Sign In</button>
  </div>
</form>
