<div class="col-lg-4 col-md-6 mb-4 col-sm-12"  *ngFor="let product of productList">
  <div class="card" [ngStyle]=" !product.sold ? background-color:grey">
    <img class="card-img-top" src="./../../../assets/CafeGold.jpg" alt="Card image cap">
    <div class="overlay">
      <div class="text">{{product.description}}</div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="mb-0">id#: {{product.id}}</p>
      <p class="mt-0">prix: {{product.price.toFixed(2)}}$</p>
      <p class="mt-0">Description: {{product.description}}</p>
      <p class="mt-0">Sold: {{product.sold ? "yes" : "no"}}</p>
      <button *ngIf="!product.sold" (click) ="sellProduct(product.id)" class="btn-block" mat-raised-button color="primary">Buy</button>
      <button *ngIf="product.sold"(click) ="returnProduct(product.id)" class="btn-block" mat-raised-button color="primary">Return</button>
    </div>
  </div>
</div>
