<div class='card'>
        <div class='card-header bg-dark'>
         <h1 class="text-light text-center" >{{pageTitle}}</h1> 
        </div>
        <div class='card-body'>
          
          <div class='table-responsive'>
            <table class='table' *ngIf='products && products.length'>
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Product</th>
                  <th>Code</th>
                  <th>Price</th>
                  <th>5 Star Rating</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let product of products'>
                  <td>
                    <img
                         [src]="'../../../assets/CafeGold.jpg'"
                         [title]='product.name'
                         [style.width.px]='imageWidth'
                         [style.margin.px]='imageMargin'>
                  </td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.id }}</td>
                  <td>{{ product.price | currency:'CAD':'symbol':'1.2-2'}}</td>
                  
                  <td><button class="btn btn-success">Edit</button></td>
                  <td><button class="btn btn-danger">Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
              <hr>
              <a routerLink="/managing" class="btn btn-primary">Go back</a>
              <hr>
          </div>
        </div>
      
      </div>