<footer class="container-fluid padding ">
        <div class="row text-center padding">
            <div class="col-6 social padding">
                <h2>COORDONÉES</h2>
                <hr class="light w-50">
                <p>Tel: 555-555-5555</p>
                <p>Email: email@myemail.com</p>
                <p>100 nom de rue</p>
                <p>Ville, province, 00000</p>
            </div>

            <div class="col-6 social padding">
                <h2>NOS HEURES</h2>
                <hr>
                <p>Lundi au Vendredi 9h00 - 21h00</p>
                <p>Samedi: 10h00 - 17h00</p>
                <p>Dimanche: Fermé</p>
            </div>
            <span class="text-left">Fabory Bangoura Remise:23 mai 2019</span>
        </div>
    </footer>