<div class='card'>
        <div class='card-header'>
          {{pageTitle}}
        </div>
        <div class='card-body'>
          <div class='table-responsive'>
            <table class='table'
                   *ngIf='traders && traders.length'>
              <thead>
                <tr>
                  <th>Trader ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Addresse</th>
                  <th>Status</th>
                  <th colspan="3">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let trader of traders'>
                  <td>{{ trader.email}}</td>
                  <!--   <td>{{ product.productId | lowercase | convertToSpaces: '-' }}</td>-->
                  <td>{{ trader.firstName }}</td>
                  <td>{{ trader.lastName }}</td>
                  <td>{{ trader.address }}</td>
                  <td>{{ trader.status }}</td>
                  <td><button class="btn btn-success" (click)="changeCurrentTraderToEdit(product)" data-toggle="modal" data-target="#exampleModal">Edit</button></td>
                  <td *ngIf="trader.status == 'ACTIVE'"><button (click)="blockTrader(trader)" class="btn btn-warning">Block</button></td>
                  <td *ngIf="trader.status == 'INACTIVE'">   <button (click)="unblockTrader(trader)" class="btn btn-warning">Unblock</button></td>
                  <td><button (click)="deleteTrader(trader.email)" class="btn btn-danger">Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <app-trader-edit [trader] ="currentTraderToEdit"></app-trader-edit>
          <div class="row">
              <hr>
              <a routerLink="/managing" class="btn btn-primary">Go back</a>
              <hr>
          </div>
        </div>
      
      </div>