
.carousel-inner,img{
    height: 850px;
}

@media screen and (max-width: 800px){
    
    .carousel-inner,img{
        height: 300px;
    }
}

@media screen and (min-width: 2000px){
    
    .carousel-inner,img{
        height: 1100px;
    }
}