<div id="outerDiv">
  <p class="animated infinite pulse slow text-center">See our new offers</p>
  <hr>
  <h1 class="text-center animated bounceIn fast">CREATE A NEW ACCOUNT</h1>
  <hr>
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <label for="firstName">Prenom</label>
    <input type="text" class="form-control animated  pulse fast" id="firstName"
      formControlName="firstName">
    <label for="lastName">Nom</label>
    <input type="text" class="form-control animated  pulse fast" id="lastName" formControlName="lastName">
    <label for="email">email</label>
    <input type="text" class="form-control animated  pulse fast" id="email" formControlName="email">
    <label for="password">password</label>
    <input type="password" class="form-control animated pulse fast" id="password"
      formControlName="password">
    <label for="adresse">adresse</label>
    <input type="text" class="form-control animated  pulse fast" id="adresse" formControlName="adresse">
    <label for="phone">phone</label>
    <input type="text" class="form-control animated pulse fast" id="phone" formControlName="phone">

    <select class="custom-select animated pulse fast" formControlName="role" id="inputGroupSelect01">
      <option selected>Choose...</option>
      <option *ngFor="let role of roleSet">{{role}}</option>
    </select>

    <button class="text-center animated swing slow" type="submit" [disabled]="userForm.invalid">Soumettre</button>
  </form>
</div>
