<hr>
<h1 class="text-secondary text-center">CREATE A NEW ACCOUNT</h1>
<hr>
<div class="col-sm-6 col-sm-offset-2 container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="firstName">Prenom</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Nom</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="email">email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <div class="form-group">
      <label for="adresse">adresse</label>
      <input type="text" class="form-control" id="adresse" formControlName="adresse">
    </div>
    <div class="form-group">
      <label for="phone">phone</label>
      <input type="text" class="form-control" id="phone" formControlName="phone">
    </div>
    <div class="form-group">

      <select class="custom-select" formControlName="role" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option *ngFor="let role of roleSet">{{role}}</option>
      </select>
    </div>


    <button class="btn btn-primary text-center mybtn w-75 ml-5 mt-3" type="submit"
      [disabled]="userForm.invalid">Soumettre</button>
  </form>
</div>
